*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.bloc-tabs {
  display: flex;
  gap: 20px;
}
/* .bloc-tabs:hover{
   background-color: rgb(250, 7, 7);
  color:white
} */
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  background-color: rgb(255, 0, 85);
  /* background-color: rgb(209, 165, 245); */
  color:white;
  border-radius: 10px;

}
.tabs:hover{
background-color: rgb(54, 51, 52);
}
/* .tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
} */

/* .active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
} */

button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  /* background: white; */
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
/* .content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
} */
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

.back-video{
  width: 100%;
  height: 90vh;
}

.mainVideo{
  height: 750px;
  width: 100%;
  object-fit: cover;
   position: relative;
    overflow: hidden;
}

/* .video-background {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
} */

/* .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
} */

.video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%; 
  height: 100%;
   /* background-color: rgba(0, 0, 0, 0.5);  */
   /* Background color with transparency */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(24, 22, 23);
  z-index: 1;
}
.foryou{
  color: rgb(255, 0, 85);
}
.video-overlay h1 {
  /* font-size: 2rem; */
  text-align: center;
}

/* bride section */
.brideMain{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
align-items: center;
gap: 20px;
 
}
.brideImage{
display: flex;
justify-content: center;
align-items: center;
}

@media only screen and (max-width: 576px) {
  .brideMain{
  grid-template-columns: repeat(1,1fr);
  padding:10px;
}
.brideImage{
display: block;
}
}


/* rangeCard */
.rangeCards{
  display: flex;
 flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.rangeCard{
  background-color: rgb(240, 133, 133);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 30px;
  width: 400px;
}
.rangeCard img{
  width: 145px;
}

/* .rangeCards{
  display: flex;
 flex-wrap: wrap;
 flex-basis: 35%;
  gap: 20px;
  justify-content: center;
  align-items: center;
} */
/* rangeCard */
.certificate-main{

}
.certificates-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: black;

}
.certificates-card{
width: 200px;
padding: 5px;
text-align: center;
}
.certificates-card i{
  font-size: 60px;
  color: rgb(240, 47, 105);
}
.certificates-card p{
  margin-top: 20px;
  font-size: 20px;
}