*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.bloc-tabs {
  display: flex;
  gap: 20px;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  background-color: rgb(255, 0, 85);
  /* background-color: rgb(209, 165, 245); */
  color:white;
  border-radius: 10px;

}
.tabs:hover{
background-color: rgb(54, 51, 52);
}


button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}

.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

.back-video{
  width: 100%;
  height: 90vh;
}

.mainVideo{
  height: 750px;
  width: 100%;
  object-fit: cover;
   position: relative;
    overflow: hidden;
}


.video-overlay {
  position: absolute;
  /* top: 0;
  right: 0; */
  width: 100%;
  height: 100%;
   /* background-color: rgba(0, 0, 0, 0.5);  */
   /* Background color with transparency */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(24, 22, 23);
  z-index: 1;
}
.foryou{
  color: rgb(255, 0, 85);
}
.video-overlay h1 {
  /* font-size: 2rem; */
  text-align: center;
}

/* bride section */
.brideMain{
  display: flex;
  justify-content: center;
   align-items: center;
  gap: 30px;
 flex-wrap: wrap;
 overflow: hidden;
}
.brideImage{
  flex-basis: 45%;
display: flex;
justify-content: center;
align-items: center;
}
.brideText{
  flex-basis: 45%;
}

@media only screen and (max-width: 768px) {
  .brideMain{
    display: block;
  }
.brideImage{
  width: 50%;
   margin: auto;
}
}
@media only screen and (max-width: 576px) {
  .brideMain{
    padding: 20px;
  }
.brideImage{
  width: 100%;
  display: block;
}
}


/*shop by rangeCard */
.ShopByRange{
  background-color: rgb(211, 212, 211);
}
.rangeCards{
  display: grid;
 grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  
}
.rangeCard{
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 10px; 
   background-color: rgb(235, 88, 132); 
    color: white;
    border-radius: 10px;
}
.rangeCard img{
  width: 145px;
}

.rangeCard:hover{
 transform: translateY(-10px);
  transition: .4s;
  background-color: white;
   color: black; 
}

/* rangeCard */

.certificates-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 70px;
  color: black;

}
.certificates-card{
width: 200px;
text-align: center;
}

.certificates-card img{
 display: block;
 margin: auto;
}
.certificates-card p{
  margin-top: 20px;
  font-size: 18px;
}


 /*Customer review*/
.review-main{
  background-color: #F5F5F5;
  
}
 .review{
   display: flex;
   justify-content: center;
   align-items: center;
 }
.review img{
  display: block;
  margin: auto;
}
.review-text{
  padding: 10px;
  text-align: center;
}
 .review h2{
 color: rgb(255, 157, 0);
 font-size: 20px;
 }

  /*  Related Article */
  
