body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

.detail-btn{
    background-color: rgb(255, 0, 85);
    color: White;
    border-radius: 35px;
    display: block;
    margin: auto;
    width: 50%;

}
.priceQuantity{
     display: flex;
    align-items: center;
    gap: 20%;
}
.Q-text{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity{
    background-color: white;
    border: 1px solid rgb(199, 196, 196);
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
    width: 30%;
    
}

.detail-input input{
 width: 75%;
 background-color:white;
 margin: auto;
}

@media only screen and (max-width: 900px) {
    .detail-content{
        display: block;
        margin: auto;
    }
    .detail-card{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .detail-img{
       order: 1;
        margin-top: 15px;
    }
    .detail-card{
    order: 2;
    }
    .priceQuantity{
        display: block;
        margin-bottom: 10px;
    }
    .quantity{
            width: 40%;
    }
}
