.weAre-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1480px;
  margin: auto;
}
.we-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.weImg {
  flex-basis: 40%;
}
.weText {
  flex-basis: 40%;
}

@media screen and (max-width: 768px) {
  .weAre-main {
    display: block;
    padding: 20px;
  }
}
.Teams-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}
.ourTeams{
  max-width: 1280px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.teamCards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.teamCard {
  flex-basis: 20%;
  min-width: 300px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid rgb(230, 230, 224);
  transition: 0.5s;
}
.teamCard:hover {
  border: 1px solid rgb(248, 148, 17);
  transform: translatey(-15px);
}
.teamCard img {
  width: 100%;
}
.teamText{
    text-align: center;
}
.teamText h1{
    margin-top: 8px;
    color: black;
    font-size: 18px
}
.teamText p{
    color: rgb(248, 148, 17);
    margin-top: 8px;
}
.teamSocial{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.teamSocial i:hover{
  color:rgb(248, 148, 17);
}